body {
    background: skyblue;
    color: yellow;
}

.body {
    display: flex;
    height: 100vh;
    justify-self: center;
    align-items: center;
    opacity: 0.9;
}

.audioSelect {
    margin: 50px;
    border: 2px solid lightcyan;
    padding: 20px;
}

#playlist {
    scroll-behavior: smooth;
    overflow: hidden;
}

.audio-item {
    display: flex;
    font-weight: 20px;
    border: 1px plum;
    border-bottom: solid;
    padding: 10px 14px;
    box-shadow: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    cursor: pointer;
}

.audioPlayerView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.audio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 1px solid plum;
}

.button{
    justify-content: center;
    margin: 80px auto 40px auto;
    align-items: center;
    margin: 10px auto 40px auto
}

.prev {
    align-items: center;
    padding: auto;
    width: 60px;
}

.next{
    align-items: center;
    padding: auto;
    width: 60px;
}


